/* VERSION PC */
@media screen and (min-width: 1441px) {
  body {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  #calendar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    justify-content: center;
    align-items: center;
  }

  .case {
    border: 3px solid purple;
    color: purple;
    text-align: center;
    font-size: 2.5rem;
    width: 10rem;
    height: 8rem;
    line-height: 7.5rem;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .case:hover {
    background-color: purple;
    color: black;
  }

  #popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: purple;
  }

  #popup-content {
    position: absolute;
    top: 5%;
    left: 10%;
    background: black;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 90%;
    align-items: center;
    justify-items: center;
    overflow: auto;
    text-align: center;
    position: relative;
    border: 5px solid purple;
    color: purple;
  }

  #game-container {
    color: purple;
    width: 100%;
    height: 100%;
  }

  .quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
  }

  .quiz-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .quiz-container button:hover {
    background-color: purple;
    color: black;
  }
  .quiz-container h3 {
    font-size: 40px;
  }

  audio {
    width: 40%;
  }

  .choices-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .choices-container button {
    background-color: black;
    border: 4px solid purple;
    color: purple;
    font-size: 25px;
    padding: 5px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .choices-container button:hover {
    background-color: purple;
    color: black;
  }

  audio::-webkit-media-controls-panel {
    background-color: purple;
  }

  #closeBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: black;
    color: purple;
    font-size: 3rem;
    padding: 10px;
    border: 3px solid purple;
    transition: 0.5s ease;
    cursor: pointer;
  }

  #closeBtn:hover {
    background-color: purple;
    color: black;
  }

  .riddles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
  }

  .riddles-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .riddles-container button:hover {
    background-color: purple;
    color: black;
  }

  #riddle-answer {
    width: 20rem;
    height: 2rem;
  }

  #validate-answer {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 5px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  #validate-answer:hover {
    background-color: purple;
    color: black;
  }

  .anagram-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
  }

  .anagram-game-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .anagram-game-container button:hover {
    background-color: purple;
    color: black;
  }


  #user-input {
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
  }

  #submit-btn {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 5px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  #submit-btn:hover {
    background-color: purple;
    color: black;
  }

  .simon-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .simon-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    width: 100%;
    height: 100%;
  }

  .simon-game-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .simon-game-container button:hover {
    background-color: purple;
    color: black;
  }

  .fiend {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1500;
  }
  
  .simon-button {
    width: 20rem;
    height: 20rem;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.3s;
    margin: 0 auto;
    background-color: transparent;
    cursor: pointer;
  }

  .simon-button:hover {
    background-color: black !important;
  }

  .simon-button.active {
    transform: scale(1.2);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
  }
  

  .simon-image {
    width: 15rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: contain;
  }

  .simon-button:hover {
    opacity: 1;
  }

  .japanese-color-container {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: purple;
    font-size: 30px;
  }

  .japanese-color-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .japanese-color-container button:hover {
    background-color: purple;
    color: black;
  }

  .color-box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
  }

  .geek-quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    font-size: 30px;
  }

  .geek-quiz-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .geek-quiz-container button:hover {
    background-color: purple;
    color: black;
  }

  .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  .answers button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .answers button:hover {
    background-color: purple;
    color: black;
  }
}

/* VERSION DESKTOP */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  #calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    gap: 10px;
  }

  .day {
    color: purple;
    text-align: center;
    font-size: 2rem;
    border: 3px solid purple;
    width: 8rem;
    height: 7rem;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .day:hover {
    background-color: purple;
    color: black;
  }

  .day.locked {
    color: red;
    border: 3px solid red;
    cursor: not-allowed;
  }

  .day.locked:hover {
    background-color: red;
    color: black;
  }

  #popUp {
    position: fixed;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid purple;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    text-align: center;
    font-size: 30px;
    color: purple;
  }

  #closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2.5rem;
    color: purple;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .quiz-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
  }

  .check {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
  }

  .answer-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .answer-btn button {
    padding: 10px 20px;
    background-color: black;
    color: purple;
    border: 4px solid purple;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.3s ease;
  }

  .answer-btn button:hover {
    background-color: purple;
    color: black;
  }

  .typewriter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    margin-top: 40px;
    color: purple;
    animation: fadeIn 2s ease-in-out;
    gap: 20px;
  }

  .typewriter a {
    color: purple;
    text-decoration: none;
    border: 4px solid purple;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s ease;
    margin-bottom: 50px;
  }

  .typewriter a:hover {
    background-color: purple;
    color: black;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  audio {
    width: 70%;
  }

  audio::-webkit-media-controls-panel {
    background-color: purple;
  }
}

/* VERSION TABLET */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    background-color: black;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
  }

  #calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 5px;
  }

  .day {
    color: purple;
    text-align: center;
    font-size: 2rem;
    border: 3px solid purple;
    width: 4rem;
    height: 4rem;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .day:active {
    background-color: purple;
    color: black;
  }

  .day.locked {
    color: red;
    border: 3px solid red;
    cursor: not-allowed;
  }

  .day.locked:active {
    background-color: red;
    color: black;
  }

  #popUp {
    position: fixed;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid purple;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    text-align: center;
    font-size: 25px;
    color: purple;
  }

  #closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 2rem;
    color: purple;
  }

  .quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: auto;
  }

  .check {
    font-size: 25px;
  }

  .answer-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .answer-btn button {
    padding: 5px;
    background-color: black;
    color: purple;
    border: 4px solid purple;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.3s ease;
  }

  .answer-btn button:active {
    background-color: purple;
    color: black;
  }

  .typewriter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.1rem;
    color: purple;
    animation: fadeIn 2s ease-in-out;
    gap: 10px;
  }

  .typewriter a {
    color: purple;
    text-decoration: none;
    border: 4px solid purple;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s ease;
  }

  .typewriter a:active {
    background-color: purple;
    color: black;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  audio {
    width: 80%;
  }

  audio::-webkit-media-controls-panel {
    background-color: purple;
  }
}

/* VERSION MOBILE */
@media screen and (max-width: 600px) {
  body {
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #calendar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .case {
    border: 3px solid purple;
    color: purple;
    text-align: center;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 3rem;
    line-height: 2rem;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 2px;
  }

  .case:active {
    background-color: purple;
    color: black;
  }

  #popUp {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: purple;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #popup-content {
    position: relative;
    background: black;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    border: 5px solid purple;
    color: purple;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
  }

  #game-container {
    color: purple;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
  }

  .quiz-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .quiz-container button:active {
    background-color: purple;
    color: black;
  }

  .quiz-container h3 {
    font-size: 25px;
  }

  audio {
    width: 100%;
  }

  .choices-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .choices-container button {
    background-color: black;
    border: 4px solid purple;
    color: purple;
    font-size: 20px;
    padding: 5px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .choices-container button:hover {
    background-color: purple;
    color: black;
  }

  .answerPoetsQuiz p {
    font-size: 10px;
  }

  audio::-webkit-media-controls-panel {
    background-color: purple;
  }

  #closeBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: black;
    color: purple;
    font-size: 2rem;
    padding: 5px;
    border: 3px solid purple;
    transition: 0.5s ease;
    cursor: pointer;
  }

  #closeBtn:active {
    background-color: purple;
    color: black;
  }

  .riddles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
  }

  .riddles-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .riddles-container button:active {
    background-color: purple;
    color: black;
  }

  #riddle-answer {
    width: 20rem;
    height: 2rem;
    font-size: 15px;
  }

  #validate-answer {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 5px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  #validate-answer:hover {
    background-color: purple;
    color: black;
  }

  .anagram-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
  }

  .anagram-game-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 20px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .anagram-game-container button:hover {
    background-color: purple;
    color: black;
  }


  #user-input {
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
  }

  #submit-btn {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 5px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  #submit-btn:hover {
    background-color: purple;
    color: black;
  }

  .simon-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
  }

  .simon-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .simon-game-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 1.5rem;
    transition: 0.5s ease;
    cursor: pointer;
    width: auto;
  }

  .simon-game-container button:hover {
    background-color: purple;
    color: black;
  }

  .fiend {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1500;
  }
  
  .simon-button {
    width: 10rem;
    height: 10rem;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.3s;
    margin: 0 auto;
    background-color: transparent;
    cursor: pointer;
  }

  .simon-button:hover {
    background-color: black !important;
  }

  .simon-button.active {
    transform: scale(1.2);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
  }
  

  .simon-image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: contain;
  }

  .simon-button:hover {
    opacity: 1;
  }

  .japanese-color-container {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: purple;
    font-size: 20px;
  }

  .japanese-color-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .textGame {
    font-size: 20px;
  }

  .japanese-color-container button:hover {
    background-color: purple;
    color: black;
  }

  .color-box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
  }

  .geek-quiz-container {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: purple;
    font-size: 20px;
  }

  .answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .geek-quiz-container button {
    background-color: black;
    border: 3px solid purple;
    color: purple;
    font-size: 15px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .geek-quiz-container button:active {
    background-color: purple;
    color: black;
  }

  .geek-quiz-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
